.jumbotron {
    background-color: rgb(94, 41, 41);
    color: lightblue;
}
body{
    font-family: 'Monda', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Barlow Condensed', sans-serif;
    background-color:  #994d00;
   
}